body {
    font-family: "Zalando Sans Expanded", sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    text-align: center;
    color: #2c3e50;
}
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding 50px;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #efefef;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #c2c2c2;
}
